body{
    background-color:white;
}

.page {
    display: flex;
    flex-direction: column;
}


.TitleText
{
    margin-top: 50px;
    text-align: center;
    color: rgb(88, 2, 88);
}

.SubText
{
    margin-top: 40px;
    text-align: center;
    color: rgb(116, 112, 112);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;   /* made it a bit smaller */
}

.rate
{
    display: flex;
    flex-direction: row;
    text-align: center;
    font-family:sans-serif;
    padding: 5px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: center;
}

.rate-card {
    background-color: rgb(255, 255, 255);;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 300px;
    height: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 10px 5px;
}

.rate-card b {
    font-size: 0.7rem;
    color: #57606f;
}

.rate-card img {
    margin-top: 10px;
}


.announcemnets {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.announcemnets div:not(:first-child) {
    margin-left: 20px;
}

.name {
    color: white;
}

.verifier
{
    margin-left: 120px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    margin-top: -10px;

}

.box-top-row {
    display: flex;
    flex-direction: row;
}

.box1
{
    height: 180px;
    width: 300px;
    background-color: rgb(58, 0, 58);
    font-size: xx-small;
    border-radius: 5%;
    padding: 5px;
}

/*.userimage1
{
    margin-left: 10px;
    clip-path: circle();
}

*/


.dis1
{
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: small;
}


.box2
{
    height: 180px;
    width: 300px;
    background-color: rgb(58, 0, 58);
    font-size: xx-small;
    border-radius: 5%;
    padding: 5px;
}
/*
.userimage2
{
    margin-left: 10px;
    clip-path: circle()
}

*/



.dis2
{
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: small;
}


.box3
{
    height: 180px;
    width: 300px;
    background-color: rgb(58, 0, 58);
    font-size: xx-small;
    border-radius: 5%;
    padding: 5px;
}
/*
.userimage3
{
    margin-left: 10px;
    clip-path: circle()
}

*/



.dis3
{
    margin-top: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    font-size: small;
}

.News
{
    margin-top: 10px;
    box-sizing: border-box;
    background-color: rgba(255, 136, 0, 0.808);
    text-align: center;
    padding: 20px;
}

.Letter
{
    margin-top: 3px;
    font-size: xx-large;
}

.textnews
{
    margin-top: 10px;
}

.input
{
    margin-top: 15px;
}
